@import "~bootstrap/dist/css/bootstrap.min.css";

@import "~font-awesome/css/font-awesome.css";

/** DEFAULT **/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: caslon-webfont, Georgia, serif;
    font-weight: normal;
    font-style: normal;
    color: #333;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 1.25rem;
    line-height: 1;
}

body {
    font-family: larsseit-webfont, Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #777;
}

.row-fix {
    margin-left: -19px;
    margin-right: -19px;
}

/** TABLE **/
.table > thead > tr > th {
    padding-left: 50px;
}

.table > tbody > tr > td {
    border-top: none;
    padding-left: 40px;
}

table {
    border: none;
    border-collapse: collapse;
}

    table td {
        border-left: 1px solid #ddd;
    }

        table td:first-child {
            border-left: none;
        }

/** CONTAINER **/
.MyContainer {
    margin-top: 30px;
}

.row > .panel-body > .row {
    padding-bottom: 10px;
}
/** BUTTONS **/
.btn-d1 {
    float: right;
    background-color: #f5f5f5;
}

    .btn-d1:focus {
        border-color: #ddd;
        float: right;
        background-color: #f5f5f5;
    }

.btn-option {
}

.btnActive {
    background-color: #2291ef;
    color: #040404;
}

    .btnActive:focus {
        color: #040404;
    }

    .btnActive:hover {
        color: #040404;
    }

.btn-menu {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

    .btn-menu:hover {
        background-color: #A4A4A4;
    }

.btn-menu-blue {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #5788CB;
    color: White;
    font-weight: bold;
}

    .btn-menu-blue:hover {
        background-color: #5294DC;
        color: White;
        font-weight: bold;
    }

.btn-menu-lightg {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #67BEB8;
    color: White;
    font-weight: bold;
}

    .btn-menu-lightg:hover {
        background-color: #71CBC7;
        color: White;
        font-weight: bold;
    }

    .btn-menu-lightg:focus {
        background-color: #67BEB8;
        color: White;
        font-weight: bold;
    }

/** CONTAINERS **/
.delimiter-left {
    border-left: 1px solid #ddd;
}

.delimiter-right {
    border-right: 1px solid #ddd;
}

.menu-data-left {
    padding-left: 35px;
    padding-right: 0px;
}

.menu-data-right {
    padding-left: 45px;
    padding-right: 0px;
}

.select-list {
    max-height: 300px;
    overflow-y: auto;
}

.select-checkbox {
    float: right;
    cursor: pointer;
}
/** TEXT **/
span {
    color: #474242;
}


/** LOGIN **/

.login-form {
}

form[role=login] {
    color: #5d5d5d;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

    form[role=login] input {
        font-size: 18px;
        margin: 16px 0;
    }

    form[role=login] button {
        font-size: 18px;
        margin: 25px 0;
    }

    form[role=login] > div {
        text-align: center;
    }

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}

    .form-links a {
        color: #fff;
    }
